:root {
	--mainColor: #eaeaea;
	--secondaryColor: #fff;

	--borderColor: #c1c1c1;

	--mainText: black;
	--secondaryText: #757576;

	--themeDotBorder: #24292e;

	--previewBg: rgb(251, 249, 243, 0.8);
	--previewBg2: rgb(251, 249, 243, 0.8);
	--previewShadow: #f0ead6;


	--buttonColor: black;


	/* ********************************** */

}


html,
body {
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
}

body * {
	transition: 0.3s;
}


h1,
h2,
h3,
h4,
h5,
h6,
strong {
	color: var(--mainText);
	font-family: 'Exo 2', sans-serif;
	/* font-family: 'Russo One', sans-serif; */
	/* font-family: 'Segoe UI', sans-serif; */
	font-weight: 500;
}

p,
li,
span,
label,
input,
button,
textarea {
	color: var(--secondaryText);
	/* font-family: 'Roboto Mono', monospace; */
	font-family: 'Segoe UI', monospace;
	/* font-family: 'Exo 2', sans-serif; */
}

a {
	text-decoration: none;
	color: #17a2b8;
}

ul {
	list-style: none;
}

h1 {
	font-size: 56px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 28px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 20px;
}

h6 {
	font-size: 16px;
}

.s1 {
	background-color: var(--mainColor);
	border-bottom: 1px solid var(--borderColor);
	overflow: auto;
}

.s2 {
	background-color: var(--secondaryColor);
	border-bottom: 1px solid var(--borderColor);
	overflow: auto;
}




.main-container {
	width: 1200px;
	margin: 0 auto;
}


.greeting-wrapper {
	display: grid;
	text-align: center;
	align-content: center;
	min-height: 10em;
	margin-bottom: 0;

}

.intro-wrapper {
	background-color: var(--secondaryColor);
	border: 1px solid var(--borderColor);
	border-radius: 5px 5px 0 0;


	-webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
	box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
		'nav-wrapper nav-wrapper'
		'left-column right-column'
	;
}

.typed {
	color: var(--mainText);
	margin-top: 0;
}

.nav-wrapper {
	border-radius: 5px 5px 0 0;
	grid-area: nav-wrapper;
	border-bottom: 1px solid var(--borderColor);
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--mainColor);
}

#navigation a {
	color: var(--mainText);
}

#navigation {
	margin: 0;
	padding: 10px;
}

#navigation li {
	display: inline-block;
	margin-right: 5px;
	margin-left: 5px;
}

.dots-wrapper {
	display: flex;
	padding: 10px;
}

#dot-1 {
	background-color: #FC6058;
}

#dot-2 {
	background-color: #FEC02F;
}

#dot-3 {
	background-color: #2ACA3E;
}

.browser-dot {
	background-color: black;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	margin: 5px;

	-webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
	box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);

}


.left-column {
	grid-area: left-column;
	padding-top: 50px;
	padding-bottom: 50px;
}

#profile_pic {
	display: block;
	margin: 0 auto;
	border-radius: 15px;
	height: 200px;
	width: 200px;
	object-fit: cover;
	border: 1px solid var(--borderColor);
}


#theme-options-wrapper {
	display: flex;
	justify-content: center;
}

.theme-dot {
	height: 30px;
	width: 30px;
	background-color: black;
	border-radius: 50%;

	margin: 5px;
	border: 2px solid var(--themeDotBorder);

	-webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
	box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);

	cursor: pointer;
}


.theme-dot:hover {
	border-width: 0.1rem;
	transform: scale(1.2);
}


#light-mode {
	background-color: #fff;
}

#blue-mode {
	background-color: #192734;
}

#green-mode {
	background-color: #78866b;
}

#purple-mode {
	background-color: #7E4C74;
}

#settings-note {
	font-size: 12px;
	font-style: italic;
	text-align: center;
}

.right-column {
	grid-area: right-column;
	display: grid;
	align-content: center;

	padding-top: 50px;
	padding-bottom: 50px;
}


#preview-shadow {
	background-color: var(--previewShadow);
	max-width: 300px;
	height: 180px;
	border-radius: 5px;
	padding-left: 30px;
	padding-top: 30px;
}

#preview {
	width: 300px;
	border: 1.5px solid #17a2b8;
	background-color: var(--previewBg);
	border-radius: 5px;
	padding: 15px;
	position: relative;
}

.corner {
	width: 7px;
	height: 7px;
	border-radius: 50%;
	border: 1.5px solid #17a2b8;
	background-color: #fff;
	position: absolute;
}

#corner-tl {
	top: -5px;
	left: -5px
}

#corner-tr {
	top: -5px;
	right: -5px
}


#corner-br {
	bottom: -5px;
	right: -5px
}


#corner-bl {
	bottom: -5px;
	left: -5px
}

.hire {
	font-size: 1.2rem;
	/* font-family: 'Roboto Mono', monospace; */
	font-family: 'Russo One', sans-serif;
	margin-left: 6.5rem;
	padding: 0.1rem 0.3rem;
	color: var(--secondaryText);
	background-color: var(--previewBg);
	border-radius: 5px;
}

.hire:hover {
	color: #fff;
	background-color: var(--buttonColor);
	transform: scale(1.3);
}

.about-wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	padding-bottom: 2rem;
	padding-top: 0rem;
	gap: 100px;
}

.txt {
	margin-top: 1rem;
}

/* trying out grid for 2nd profile pic....didn't work (wasn't responsive) */

/* .text-n-image {
	display: grid;
	grid-template-columns: 1fr 0.8fr;
	grid-template-rows: 3rem 20rem;
	grid-template-areas: "left right";
	gap: 2rem;
}

.text-n-image .txt .left {
	grid-area: left;
}

.text-n-image .hero-2 .right {
	grid-area: right;
	justify-content: end;
	align-content: end;
}


.hero-2 {
	width: 40%;
	border-radius: 10px;
} */


/*
=============== 
Skills
===============
*/

#skills {
	/* display: flex; */
	padding: .2rem;
	justify-content: space-evenly;
	background-color: var(--previewShadow);
}

.skills {
	display: flex;
	place-items: center;
	justify-content: center;
}

.skill-heading {
	font-size: 1.2rem;
	margin-bottom: 1.5rem;
	margin-top: 2rem;
}

.skills .skill-icon {
	color: var(--buttonColor);
	margin-right: 4rem;
	font-size: 4rem;
	cursor: pointer;
}

.skills .skill-icon:hover {
	color: #a3a3a5;
	transform: scale(1.2);
	/* transform: translateY(15%); */
	/* transform: rotate(360deg); */
}

.skills-sub-titles {
	margin-top: 0;
	margin-right: 3rem;
	margin-bottom: 2rem;
	display: flex;
	justify-content: center;
}

/* end */

/*
=============== 
Projects
===============
*/
.post-wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, 320px);
	gap: 20px;
	justify-content: center;
	padding-bottom: 50px;
}

.post {
	border: 1px solid var(--borderColor);
	-webkit-box-shadow: -2px 7px 21px -9px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: -2px 7px 21px -9px rgba(0, 0, 0, 0.75);
	box-shadow: -2px 7px 21px -9px rgba(0, 0, 0, 0.75);
	border-radius: 10px;
}

.thumbnail {
	display: block;
	width: 100%;
	height: 180px;
	object-fit: cover;
	border-radius: 10px 10px 0px 0px;
}

.thumbnail:hover {
	transform: scale(1.12);
	object-fit: fill;
}

.post-preview {
	background-color: #fff;
	padding: 15px;
	border-radius: 0px 0px 10px 10px;
}

.post-title {
	color: black;
	margin: 0;
}

.post-intro {
	color: #4b5156;
	font-size: 14px;
}


/*
=============== 
Connect
===============
*/
.contact {
	min-height: 40vh;
	position: relative;
	/* padding: 10rem 0 5rem 0; */
}

.video-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	z-index: -2;
}

.s2 {
	display: grid;
	place-items: center;
}

.contact {
	background-color: var(--previewBg);
}

/* end of connect */

#contact-form {
	display: block;
	max-width: 600px;
	margin: 0 auto;
	border: 1px solid var(--borderColor);
	padding: 15px;
	border-radius: 15px;
	background-color: var(--mainColor);
	margin-bottom: 50px;

}

#contact-form label {
	line-height: 2.7em;
}

#contact-form textarea {
	min-height: 100px;
	font-size: 14px;
}


.input-field {
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: var(--secondaryColor);
	border-radius: 5px;
	border: 1px solid var(--borderColor);
	font-size: 14px;
}


.submit-btn {
	margin-top: 10px;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 5px;
	color: #fff;
	background-color: var(--buttonColor);
	border: none;
	cursor: pointer;
	font-weight: 500;
	font-size: 1.2rem;
}



/*
=============== 
Footer
===============
*/
.footer {
	padding-bottom: 2rem;
	background: #222;
	display: grid;
	place-items: center;
	color: var(--mainText);
}

.footer .social-icons {
	margin-bottom: .5rem;
	display: flex;
}

.footer .social-icon {
	color: var(--buttonColor);
	margin-right: 2rem;
	font-size: 1.5rem;
}

.footer .social-icon:hover {
	color: #a3a3a5;
}

.back-to-top {
	color: var(--buttonColor);
}

.back-to-top:hover {
	color: #a3a3a5;
}

.footer p {
	font-size: 1.25rem;
	text-transform: capitalize;
}

/* a,
.copyright {
	color: var(--mainText);
	text-decoration: none;
} */

/* ----------------------
        SCREEN SIZES
   ----------------------
 */
@media screen and (max-width: 1200px) {
	.main-container {
		width: 95%;
	}
}

@media screen and (max-width: 800px) {
	.intro-wrapper {
		grid-template-columns: 1fr;
		grid-template-areas:
			'nav-wrapper'
			'left-column'
			'right-column'
		;
	}

	.skills {
		/* display: block; */
		/* font-size: 2rem; */
		/* margin-left: 7rem; */
		margin-right: .0001rem;
		padding: .02rem;
	}

	.skills .skill-icon {
		padding-bottom: 1rem;
		font-size: 2rem;
	}

	.right-column {
		justify-content: center;
	}

}

@media screen and (max-width: 400px) {
	#preview-shadow {
		max-width: 280px;
		height: 180px;
		padding-left: 10px;
		padding-top: 10px;
	}

	.skills {
		display: block;
		font-size: 2rem;
		margin-left: 7rem;
	}

	#preview {
		width: 280px;

	}

}


/* 
-----------------
Typer
-----------------
*/
span.type::after {
	content: "|";
	display: inline;
	font-size: 1.2rem;
	animation: blink 0.7s infinite;
}

/*Removes cursor that comes with typed.js*/
.typed-cursor {
	opacity: 0;
	display: none;
}

/*Custom cursor animation*/
@keyframes blink {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-webkit-keyframes blink {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-moz-keyframes blink {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}